/*
Namics Mitarbeiter
 */

@color-white: #FFFFFF;
@color-black: black;
@color-blue-1: #A9F5F2;
@color-blue-2: #0080FF;
@color-blue-3: #0B3861;
@color-pink-1: #FAD7BB;
@color-pink-2: #F5A9BC;
@color-pink-3: #F78CAA;
@color-pink-4: #F781D8;
@color-purple-1: #AC58FA;
@color-red-1: #ff0002;
@color-red-2: darkred;
@color-gray: #F2F2F2;
@color-yellow-1: lightyellow;
@color-brown-1: peru;
@color-green-1: #BCF5A9;

@color-gradient-blue-light-r: linear-gradient(to left, #0080FF, #A9F5F2 70%);
@color-gradient-blue-light-l: linear-gradient(to right, #0080FF, #A9F5F2 70%);
@color-gradient-green-yellow: linear-gradient(to bottom right, #2EFE2E, #FFFF00 70%);