/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*
Namics Mitarbeiter
 */
/*
Stewie Griffin
 */
body {
  margin: 0;
  background-color: #FFFFFF;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.mod-stewie {
  position: relative;
  height: 350px;
  width: 600px;
  background-color: #FAD7BB;
  border-radius: 50%;
  margin: 100px auto 0 auto;
  border: 3px black solid;
}
.mod-stewie:hover .mod-stewie__eye__lid {
  height: 104px;
  width: 104px;
  border-radius: 50%;
  border-bottom: 0;
  transition: height 0.05s ease-in;
}
.mod-stewie__eyes {
  height: 100%;
}
.mod-stewie__eye {
  position: absolute;
  height: 110px;
  width: 110px;
  top: 100px;
}
.mod-stewie__eye--left {
  left: 55px;
}
.mod-stewie__eye--right {
  right: 100px;
  top: 105px;
}
.mod-stewie__eye__white {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px black solid;
  background-color: #FFFFFF;
}
.mod-stewie__eye__pupil {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50px;
  left: 70px;
}
.mod-stewie__eye__lid {
  position: absolute;
  height: 52px;
  width: 104px;
  border-radius: 90px 90px 0 0;
  background: #FAD7BB;
  border-bottom: 3px black solid;
  left: 3px;
  top: 3px;
}
.mod-stewie__eye__brow {
  position: absolute;
  height: 4px;
  width: 80px;
  background-color: black;
  border-radius: 100%;
  top: -25px;
}
.mod-stewie__eye__brow--left {
  left: 20px;
  top: -13px;
}
.mod-stewie__eye__brow--right {
  right: 20px;
  top: -17px;
}
.mod-stewie__ears {
  width: 100%;
  height: 100%;
  top: 0;
}
.mod-stewie__ear {
  position: absolute;
  top: 140px;
}
.mod-stewie__ear--left {
  left: -30px;
  height: 45px;
  width: 45px;
  background-color: #FAD7BB;
  border-radius: 50%;
  border: 3px black solid;
}
.mod-stewie__ear--left-two {
  top: 147px;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background-color: #FAD7BB;
}
.mod-stewie__ear--left-three {
  width: 12px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  transform: rotate(35deg);
  top: 156px;
  left: -12px;
}
.mod-stewie__ear--right {
  right: -30px;
  height: 45px;
  width: 45px;
  background-color: #FAD7BB;
  border-radius: 50%;
  border: 3px black solid;
}
.mod-stewie__ear--right-two {
  right: 0;
  top: 147px;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background-color: #FAD7BB;
}
.mod-stewie__ear--right-three {
  width: 16px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  transform: rotate(-15deg);
  right: -15px;
  top: 156px;
}
.mod-stewie__hairs {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.mod-stewie__hair {
  position: absolute;
  height: 4px;
  background-color: black;
}
.mod-stewie__hair--one {
  width: 10px;
  top: 100px;
  left: 24px;
  transform: rotate(75deg);
}
.mod-stewie__hair--two {
  width: 20px;
  top: 62px;
  left: 70px;
  transform: rotate(80deg);
}
.mod-stewie__hair--three {
  width: 30px;
  top: 33px;
  left: 130px;
  transform: rotate(110deg);
}
.mod-stewie__hair--four {
  width: 30px;
  top: 17px;
  left: 195px;
  transform: rotate(115deg);
}
.mod-stewie__hair--five {
  width: 30px;
  top: 10px;
  left: 264px;
  transform: rotate(120deg);
}
.mod-stewie__hair--six {
  width: 33px;
  top: 13px;
  left: 332px;
  transform: rotate(130deg);
}
.mod-stewie__hair--seven {
  width: 30px;
  top: 23px;
  left: 400px;
  transform: rotate(145deg);
}
.mod-stewie__hair--eight {
  width: 25px;
  top: 48px;
  left: 477px;
  transform: rotate(160deg);
}
.mod-stewie__hair--nine {
  width: 25px;
  top: 91px;
  left: 536px;
  transform: rotate(175deg);
}
.mod-stewie__hair--eins {
  width: 15px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: 86px;
  left: 22px;
  transform: rotate(-45deg);
}
.mod-stewie__hair--zwei {
  width: 17px;
  height: 9px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: 43px;
  left: 74px;
  transform: rotate(-30deg);
}
.mod-stewie__hair--drei {
  width: 17px;
  height: 9px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: 11px;
  left: 148px;
  transform: rotate(-18deg);
}
.mod-stewie__hair--vier {
  width: 17px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: -4px;
  left: 214px;
  transform: rotate(-18deg);
}
.mod-stewie__hair--fuenf {
  width: 19px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: -9px;
  left: 286px;
  transform: rotate(8deg);
}
.mod-stewie__hair--sechs {
  width: 18px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: -4px;
  left: 357px;
  transform: rotate(0deg);
}
.mod-stewie__hair--sieben {
  width: 18px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: 11px;
  left: 427px;
  transform: rotate(25deg);
}
.mod-stewie__hair--acht {
  width: 18px;
  height: 7px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: 43px;
  left: 501px;
  transform: rotate(34deg);
}
.mod-stewie__hair--neun {
  width: 18px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: 91px;
  left: 560px;
  transform: rotate(46deg);
}
.mod-stewie__nose {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.mod-stewie__nose--first {
  height: 3px;
  width: 25px;
  background-color: black;
  border-radius: 0 40% 40% 0;
  top: 199px;
  left: 235px;
  transform: rotate(46deg);
}
.mod-stewie__nose--second {
  height: 3px;
  width: 40px;
  background-color: black;
  border-radius: 40% 0 0 40%;
  top: 176px;
  left: 232px;
  transform: rotate(130deg);
}
.mod-stewie__mouth {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.mod-stewie__mouth--one {
  height: 3px;
  width: 18px;
  background-color: black;
  border-radius: 40%;
  top: 231px;
  left: 235px;
  transform: rotate(140deg);
}
.mod-stewie__mouth--two {
  height: 3px;
  width: 35px;
  background-color: black;
  border-radius: 40%;
  top: 237px;
  left: 237px;
}
.mod-stewie__mouth--three {
  height: 3px;
  width: 13px;
  background-color: black;
  border-radius: 40%;
  top: 285px;
  left: 254px;
  transform: rotate(46deg);
}
.mod-stewie__mouth--four {
  height: 3px;
  width: 20px;
  background-color: black;
  border-radius: 40%;
  top: 280px;
  left: 255px;
}
.mod-stewie__mouth--five {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 33px 33px 0 0;
  border-color: black transparent transparent transparent;
  top: 226px;
  left: 303px;
  transform: rotate(-27deg);
}
.mod-stewie__mouth--six {
  width: 55px;
  height: 25px;
  border-radius: 90px 90px 0 0;
  background-color: black;
  top: 252.5px;
  left: 268px;
  transform: rotate(140deg);
}
.mod-stewie__mouth--seven {
  height: 46px;
  width: 22px;
  top: 237px;
  left: 264px;
  background-color: black;
}
.mod-stewie__mouth--eight {
  height: 7px;
  width: 24px;
  top: 236px;
  left: 281px;
  background-color: black;
  transform: rotate(-20deg);
}
.mod-stewie__mouth--nine {
  height: 20px;
  width: 32px;
  top: 237px;
  left: 271px;
  background-color: black;
}
.mod-stewie__mouth--ten {
  width: 15px;
  height: 4px;
  background-color: #F78CAA;
  border-radius: 100%;
  top: 272px;
  left: 288px;
  transform: rotate(-33deg);
}
.mod-title {
  background-color: lightyellow;
  border-radius: 20px;
}
.mod-title__main {
  font-size: 80px;
  margin-bottom: 15px;
  color: darkred;
  text-align: center;
  margin-top: 25px;
}
.mod-zh {
  margin: 0;
  background-color: lightyellow;
  padding: 5px;
  border-radius: 20px;
  /*
    &__member-link {
        text-decoration: none;
    }
    */
}
.mod-zh__container {
  width: 33.3%;
  float: left;
  padding: 20px;
}
.mod-zh__member-picture {
  width: 100px;
  border-radius: 50%;
  margin-left: 16px;
  border: 5px #F2F2F2 solid;
}
.mod-zh__member-picture:hover {
  border: 5px peru solid;
}
.mod-zh__list {
  background-color: #BCF5A9;
  margin-top: 0;
  margin-bottom: 25px;
  list-style: none;
  border-radius: 20px;
}
.mod-zh__list--mitte {
  background-color: #A9F5F2;
}
.mod-zh__list--hinten {
  background-color: #F5A9BC;
}
.mod-zh__member {
  padding-left: 20px;
  padding-top: 20px;
}
.mod-zh__member:hover {
  background-color: #F2F2F2;
}
.mod-zh__member-name {
  color: #0080FF;
  font-size: 30px;
  margin: 15px 0 0 0;
}
.mod-zh__member-name--lady {
  color: #F781D8;
}
.mod-zh__member-description {
  color: #AC58FA;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}
.mod-zh__member-description--extra {
  color: black;
  margin-top: 5px;
  font-weight: 300;
}
.mod-zh__member-description--no-info {
  color: #ff0002;
}
.mod-zh__member-caption {
  font-size: 13px;
  margin-bottom: 10px;
  text-align: center;
}
.mod-zh__qname {
  text-align: center;
  font-size: 40px;
  margin-bottom: 8px;
  border-radius: 20px;
}
.mod-zh__qname--vorne {
  background-color: #BCF5A9;
}
.mod-zh__qname--mitte {
  background-color: #A9F5F2;
}
.mod-zh__qname--hinten {
  background-color: #F5A9BC;
}
.mod-zh__member__left {
  float: left;
  width: 35%;
}
.mod-zh__member__right {
  float: right;
  width: 65%;
}
.mod-zh .endfloat {
  clear: both;
}
