





.mod-stewie {
  position: relative;
  height: 350px;
  width: 600px;
  background-color: @color-pink-1;
  border-radius: 50%;
  margin: 250px auto 0 auto;
  border: 3px @color-black solid;

  &:hover {
    .glass {
      background-image: @lens-background-2;
    }

    .mod-stewie__headphone__polster--links {
      .gradient(180deg, @color-orange, @color-rosa-1, 70%);
    }

    .mod-stewie__headphone__polster--rechts {
      .gradient(0deg, @color-orange, @color-rosa-1, 70%);
    }

    .mod-stewie__headphone__buegel--round {
      border-color: @color-rosa-2;
      background-color: transparent;
    }

    .mod-stewie__headphone__buegel--one {
      background-color: @color-rosa-2;
    }

    .mod-stewie__headphone__buegel--two {
      background-color: @color-rosa-2;
    }
  }


/*
  &:hover {
    .mod-stewie__eye__lid {
      height: 104px;
      width: 104px;
      border-radius: 50%;
      border-bottom: 0;
      transition: height 0.05s ease-in;
    }
  }
*/
  &__eyes {
    height: 100%;

  }

  &__eye {
    position: absolute;
    height: 110px;
    width: 110px;
    top: 100px;

    &--left {
      left: 55px;
    }

    &--right {
      right: 100px;
      top: 105px;
    }

    &__white {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: 3px @color-black solid;
      background-color: @color-white;
    }

    &__pupil {
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: @color-black;
      position: absolute;
      top: 50px;
      left: 70px;
    }

    &__lid {
      position: absolute;
      height: 52px;
      width: 104px;
      .cyrcle(90px, 90px, 0, 0);
      background: @color-pink-1;
      border-bottom: 3px @color-black solid;
      left: 3px;
      top: 3px;
    }

    &__brow {
      position: absolute;
      height: 4px;
      width: 80px;
      background-color: @color-black;
      border-radius: 100%;
      top: -25px;

      &--left {
        left: 20px;
        top: -13px;
      }

      &--right {
        right: 20px;
        top: -17px;
      }

    }

  }

  &__ears {
    width: 100%;
    height: 100%;
    top: 0;
  }

  &__ear {
    position: absolute;
    top: 140px;

    &--left {
      left: -30px;
      height: 45px;
      width: 45px;
      background: @color-pink-1;
      border-radius: 50%;
      border: 3px @color-black solid;
    }

    &--left-two {
      top: 147px;
      height: 33px;
      width: 33px;
      border-radius: 50%;
      background-color: @color-pink-1;
    }

    &--left-three {
      width: 12px;
      height: 8px;
      .cyrcle(90px, 90px, 0, 0);
      background-color: transparent;
      border-top: 4px @color-black solid;
      transform: rotate(35deg);
      top: 156px;
      left: -12px;

    }

    &--right {
      right: -30px;
      height: 45px;
      width: 45px;
      background-color: @color-pink-1;
      border-radius: 50%;
      border: 3px @color-black solid;
    }

    &--right-two {
      right: 0;
      top: 147px;
      height: 33px;
      width: 33px;
      border-radius: 50%;
      background-color: @color-pink-1;
    }

    &--right-three {
      width: 16px;
      height: 8px;
      .cyrcle(90px, 90px, 0, 0);
      background-color: transparent;
      border-top: 4px @color-black solid;
      transform: rotate(-15deg);
      right: -15px;
      top: 156px;
    }
  }

  &__hairs {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
  }

  &__hair {
    position: absolute;
    height: 4px;
    background-color: @color-black;

    &--one {
      width: 10px;
      top: 100px;
      left: 24px;
      transform: rotate(75deg);
    }

    &--two {
      width: 20px;
      top: 62px;
      left: 70px;
      transform: rotate(80deg);
    }

    &--three {
      width: 30px;
      top: 33px;
      left: 130px;
      transform: rotate(110deg);
    }

    &--four {
      width: 30px;
      top: 17px;
      left: 195px;
      transform: rotate(115deg);
    }

    &--five {
      width: 30px;
      top: 10px;
      left: 264px;
      transform: rotate(120deg);
    }

    &--six {
      width: 33px;
      top: 13px;
      left: 332px;
      transform: rotate(130deg);
    }

    &--seven {
      width: 30px;
      top: 23px;
      left: 400px;
      transform: rotate(145deg);
    }

    &--eight {
      width: 25px;
      top: 48px;
      left: 477px;
      transform: rotate(160deg);
    }

    &--nine {
      width: 25px;
      top: 91px;
      left: 536px;
      transform: rotate(175deg);
    }

    &--eins {
      width: 15px;
      height: 8px;
      .cyrcle(90px, 90px, 0, 0);
      background-color: transparent;
      border-top: 4px @color-black solid;
      border-left: 4px @color-black solid;
      border-right: 4px @color-black solid;
      top: 86px;
      left: 22px;
      transform: rotate(-45deg);
    }

    &--zwei {
      width: 17px;
      height: 9px;
      .cyrcle(90px, 90px, 0, 0);
      background-color: transparent;
      border-top: 4px @color-black solid;
      border-left: 4px @color-black solid;
      border-right: 4px @color-black solid;
      top: 43px;
      left: 74px;
      transform: rotate(-30deg);
    }

    &--drei {
      width: 17px;
      height: 9px;
      .cyrcle(90px, 90px, 0, 0);
      background-color: transparent;
      border-top: 4px @color-black solid;
      border-left: 4px @color-black solid;
      border-right: 4px @color-black solid;
      top: 11px;
      left: 148px;
      transform: rotate(-18deg);
    }

    &--vier {
      width: 17px;
      height: 8px;
      .cyrcle(90px, 90px, 0, 0);
      background-color: transparent;
      border-top: 4px @color-black solid;
      border-left: 4px @color-black solid;
      border-right: 4px @color-black solid;
      top: -4px;
      left: 214px;
      transform: rotate(-18deg);
    }

    &--fuenf {
      width: 19px;
      height: 8px;
      .cyrcle(90px, 90px, 0, 0);
      background-color: transparent;
      border-top: 4px @color-black solid;
      border-left: 4px @color-black solid;
      border-right: 4px @color-black solid;
      top: -9px;
      left: 286px;
      transform: rotate(8deg);
    }

    &--sechs {
      width: 18px;
      height: 8px;
      .cyrcle(90px, 90px, 0, 0);
      background-color: transparent;
      border-top: 4px @color-black solid;
      border-left: 4px @color-black solid;
      border-right: 4px @color-black solid;
      top: -4px;
      left: 357px;
      transform: rotate(0deg);
    }

    &--sieben {
      width: 18px;
      height: 8px;
      .cyrcle(90px, 90px, 0, 0);
      background-color: transparent;
      border-top: 4px @color-black solid;
      border-left: 4px @color-black solid;
      border-right: 4px @color-black solid;
      top: 11px;
      left: 427px;
      transform: rotate(25deg);
    }

    &--acht {
      width: 18px;
      height: 7px;
      .cyrcle(90px, 90px, 0, 0);
      background-color: transparent;
      border-top: 4px @color-black solid;
      border-left: 4px @color-black solid;
      border-right: 4px @color-black solid;
      top: 43px;
      left: 501px;
      transform: rotate(34deg);
    }

    &--neun {
      width: 18px;
      height: 8px;
      .cyrcle(90px, 90px, 0, 0);
      background-color: transparent;
      border-top: 4px @color-black solid;
      border-left: 4px @color-black solid;
      border-right: 4px @color-black solid;
      top: 91px;
      left: 560px;
      transform: rotate(46deg);
    }
  }

  &__nose {

    &__item {
      position: absolute;

      &--first {
        height: 3px;
        width: 25px;
        background-color: @color-black;
        border-radius: 0 40% 40% 0;
        top: 184px;
        left: 265px;
        transform: rotate(46deg);
      }

      &--second {
        height: 3px;
        width: 40px;
        background-color: @color-black;
        border-radius: 40% 0 0 40%;
        top: 161px;
        left: 262px;
        transform: rotate(130deg);
      }
    }
  }

  &__mouth {

    &__item {
      position: absolute;

      &--one {
        height: 3px;
        width: 18px;
        background-color: @color-black;
        border-radius: 40%;
        top: 231px;
        left: 235px;
        transform: rotate(140deg);
      }

      &--two {
        height: 3px;
        width: 35px;
        background-color: @color-black;
        border-radius: 40%;
        top: 237px;
        left: 237px;
      }

      &--three {
        height: 3px;
        width: 13px;
        background-color: @color-black;
        border-radius: 40%;
        top: 285px;
        left: 254px;
        transform: rotate(46deg);
      }

      &--four {
        height: 3px;
        width: 20px;
        background-color: @color-black;
        border-radius: 40%;
        top: 280px;
        left: 255px;
      }

      &--five {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 33px 33px 0 0;
        border-color: @color-black transparent transparent transparent;
        top: 226px;
        left: 303px;
        transform: rotate(-27deg);
      }

      &--six {
        width: 55px;
        height: 25px;
        .cyrcle(90px, 90px, 0, 0);
        background-color: @color-black;
        top: 252.5px;
        left: 268px;
        transform: rotate(140deg);
      }

      &--seven {
        height: 46px;
        width: 22px;
        top: 237px;
        left: 264px;
        background-color: @color-black;
      }

      &--eight {
        height: 7px;
        width: 24px;
        top: 236px;
        left: 281px;
        background-color: @color-black;
        transform: rotate(-20deg);
      }

      &--nine {
        height: 20px;
        width: 32px;
        top: 237px;
        left: 271px;
        background-color: @color-black;
      }

      &--ten {
        width: 15px;
        height: 4px;
        background-color: @color-pink-3;
        border-radius: 100%;
        top: 272px;
        left: 288px;
        transform: rotate(-33deg);
      }
    }
  }

  &__image {

    &--hat {
      display: none;
      position: absolute;
      height: 200px;
      width: 700px;
      top: -100px;
      left: -54px;
    }
  }

  html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #FFAA78;
  }

  *, *:before, *:after {
    box-sizing: border-box;
  }

  &__glasses {
    display: none;
    position: absolute;
    width: @total-width;
    height: @lens-height;
    top: 97px;
    left: 37px;



    .g-top {
      position: absolute;
      height: 15px;
      width: @total-width;
      background-color: @color1;
      top: 5px;
      left: -5px;
      border-radius: 5px;
    }

    .glass {
      position: absolute;
      height: @lens-height;
      width: @lens-width;
      background-image: @lens-background-1;
      border: 10px solid @color1;
      top: 0;
      animation-name: sound;
      animation-duration: 0.1s;
      animation-iteration-count: 60;
    }

    .g-left {
      left: 0;
      transform: rotate(@lens-rotate);
      border-radius: @left-lens-border-radius;
    }
    .g-right {
      left: @lens-width + @nose-width;
      transform: rotate(-@lens-rotate);
      border-radius: @right-lens-border-radius;
    }

  }

  &__headphones {
    display: none;
  }

    &__headphone {
      &__buegel {
        position: absolute;

        &--round {
          width: 760px;
          height: 350px;
          border-top-left-radius: 420px;
          border-top-right-radius: 420px;
          border: 20px solid @color-blue-3;
          border-bottom: 0;
          top: -220px;
          left: -83px;
        }

        &--one {
          width: 20px;
          height: 100px;
          background: @color-blue-3;
          top: 130px;
          left: -83px;
        }

        &--two {
          width: 20px;
          height: 100px;
          background: @color-blue-3;
          top: 130px;
          right: -83px;
        }
      }

      &__polster {
        position: absolute;

        &--links {
          height: 200px;
          width: 60px;
          .gradient(0deg, @color-blue-2, @color-blue-1, 100%);
          border-radius: 30px;
          left: -60px;
          transform: rotate(0.5deg);
          top: 64px;
          animation-name: sound;
          animation-duration: 0.1s;
          animation-iteration-count: 60;

        }

        &--rechts {
          height: 200px;
          width: 60px;
          .gradient(180deg, @color-blue-2, @color-blue-1, 100%);
          border-radius: 30px;
          top: 64px;
          right: -60px;
          transform: rotate(-0.5deg);
          animation-name: sound;
          animation-duration: 0.1s;
          animation-iteration-count: 60;
        }
      }
    }
  }


.state-mod-stewie--with-hat {
  .mod-stewie {
    &__image {
      &--hat {
        display: block;
      }
    }
  }
}

.state-mod-stewie--with-glasses {
  .mod-stewie {
    &__glasses {
      display: block;
    }

  }

}.state-mod-stewie--with-headphones {
  .mod-stewie {
    &__headphones {
      display: block;
    }

  }
}

.state-mod-stewie--with-mustache {
  .mod-stewie {
    &__mustache {
      &__item {
        position: absolute;
        width: 85px;
        &--one {
          height: 20px;
          background-color: @color-black;
          border-radius: 40%;
          top: 198px;
          left: 198px;
        }

        &--two {
          height: 20px;
          background-color: @color-black;
          border-radius: 40%;
          top: 198px;
          left: 281px;

        }

        &--three {
          transform: rotate(105deg);
          height: 17px;
          background-color: @color-black;
          border-radius: 50% 100% 100% 0;
          top: 240px;
          left: 152px;
        }

        &--four {
          transform: rotate(75deg);
          height: 17px;
          background-color: @color-black;
          border-radius: 0 100% 100% 0;
          top: 240px;
          right: 182px;

        }

      }
    }
  }
}

.state-mod-stewie--eyes-movement {
    .mod-stewie {
        &__eye {
            &__pupil {
                animation: pupil-move 5s infinite;
            }

            &__lid {
                animation: eyes-close 5s infinite;
            }
        }
    }
}

.state-mod-stewie--drunk {
  &:hover {
    .mod-stewie__eye__lid {
      display: none;
    }
  }
  .mod-stewie {

    &__eyes {
      height: 100%;

    }

    &__eye {
      position: absolute;
      height: 110px;
      width: 110px;
      top: 100px;

      &--left {
        left: 55px;
      }

      &--right {
        right: 100px;
        top: 105px;
      }

      &__white {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 3px @color-black solid;
        background-color: @color-white;
      }

      &__pupil {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: @color-black;
        position: absolute;
        top: 46px;
        left: 28px;
      }

      &__lid {
        position: absolute;
        height: 26px;
        width: 93px;
        .cyrcle(90px, 90px, 0, 0);
        background: @color-pink-1;
        border-bottom: 3px @color-black solid;
        left: 8px;
        top: 3px;
      }

      &__lid--left {
        position: absolute;
        height: 38px;
        width: 100px;
        .cyrcle(90px, 90px, 0, 0);
        background: @color-pink-1;
        border-bottom: 3px @color-black solid;
        left: 5px;
        top: 3px;
      }

      &__lid--right-bottom {
        position: absolute;
        height: 38px;
        width: 96px;
        .cyrcle(90px, 90px, 0, 0);
        background: @color-pink-1;
        border-bottom: 3px @color-black solid;
        left: 8px;
        top: 76px;
        transform: rotate(180deg);
      }

      &__brow {
        position: absolute;
        height: 4px;
        width: 80px;
        background-color: @color-black;
        border-radius: 100%;
        top: -25px;

        &--left {
          left: 20px;
          top: -13px;
        }

        &--right {
          right: 20px;
          top: -17px;
        }

      }

      &--border-left {
        position: absolute;
        height: 110px;
        width: 110px;
        top: 100px;
        left: 55px;
        border-radius: 50%;
        border: 3px @color-black solid;
      }

      &--border-right {
        right: 100px;
        top: 105px;
        position: absolute;
        height: 110px;
        width: 110px;
        border-radius: 50%;
        border: 3px @color-black solid;
      }
    }
  }
}


