.mod-zh {
    margin: 20px;
    background-color: red;
    padding: 15px;
    border: 15px black solid;


    &__titel {
        font-size: 80px;
        margin-bottom: 15px;
        color: darkred;
        text-align: center;
        margin-top: 25px;
    }

    &__container {
        width: 33.3%;
        float: left;
        padding: 20px;
    }

    &__member-picture {
        width: 100px;
        border-radius: 50%;
        margin-left: 16px;
        border: 5px #F2F2F2 solid;
    }

    &__member-picture:hover {
        border: 5px peru solid;
    }

    &__qname {
        text-align: center;
        font-size: 40px;
        margin-bottom: 8px;
        border-radius: 10px;
    }

    &__list {
        background-color: #BCF5A9;
        margin-top: 0;
        margin-bottom: 25px;
        list-style: none;
        border-radius: 10px;
    }

    &__member {
        padding-left: 20px;
        padding-top: 20px;
    }

    &__member:hover {
        background-color: #F2F2F2;
    }

    &__member-name {
        color: #0080FF;
        font-size: 30px;
        margin: 15px 0 0 0;
    }

    &__member-name--lady {
        color: #F781D8;
    }

    &__member-description {
        color: #AC58FA;
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
    }

    &__member-caption {
        font-size: 13px;
        margin-bottom: 10px;
        text-align: center;
    }

    &__member-description--extra {
        color: #2E2E2E;
        margin-top: 5px;
        font-weight: 300;
    }

    &_member-description--no-info {
        color: red;
    }

    &__qname--vorne {
        background-color: #BCF5A9;
    }

    &__list--mitte {
        background-color: #A9F5F2;
    }

    &__qname--mitte {
        background-color: #A9F5F2;
    }

    & .zh-hinten {
        background-color: lightblue;
    }

    &__list--hinten {
        background-color: #F5A9BC;
    }

    &__qname--hinten {
        background-color: #F5A9BC;
    }

    &__member__left {
        float: left;
        width: 25%;
    }

    &__member__right {
        float: right;
        width: 75%;
    }

    .endfloat {
        clear: both;
    }
}