.mod-zh__titel {
    font-size: 80px;
    margin-bottom: 15px;
    color: darkred;
    text-align: center;
    margin-top: 25px;
}

.mod-zh__container {
    width: 33.3%;
    float: left;
    padding: 20px;
}

.mod-zh__member-picture {
    width: 100px;
    border-radius: 50%;
    margin-left: 16px;
    border: 5px #F2F2F2 solid;
}

.mod-zh__member-picture:hover {
    border: 5px peru solid;
}

.mod-zh__qname {
    text-align: center;
    font-size: 40px;
    margin-bottom: 8px;
    border-radius: 10px;
}

.mod-zh__list {
    background-color: #BCF5A9;
    margin-top: 0;
    margin-bottom: 25px;
    list-style: none;
    border-radius: 10px;
}

.mod-zh__member {
    padding-left: 20px;
    padding-top: 20px;
}

.mod-zh__member:hover {
    background-color: #F2F2F2;
}

.mod-zh__member-name {
    color: #0080FF;
    font-size: 30px;
    margin: 15px 0 0 0;
}

.mod-zh__member-name--lady {
    color: #F781D8;
}

.mod-zh__member-name--oben {

}

.mod-zh__member-description {
    color: #AC58FA;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}

.mod-zh__member-caption {
    font-size: 13px;
    margin-bottom: 10px;
    text-align: center;
}

.mod-zh__member-description--extra {
    color: #2E2E2E;
    margin-top: 5px;
    font-weight: 300;
}

.mod-zh_member-description--no-info {
    color: red;
}

.mod-zh__qname--vorne {
    background-color: #BCF5A9;
}

.mod-zh__list--mitte {
    background-color: #A9F5F2;
}

.mod-zh__qname--mitte {
    background-color: #A9F5F2;
}

.zh-hinten {
    background-color: lightblue;
}

.mod-zh__list--hinten {
    background-color: #F5A9BC;
}

.mod-zh__qname--hinten {
    background-color: #F5A9BC;
}

.mod-zh__member__left {
    float: left;
    width: 25%;
}

.mod-zh__member__right {
    float: right;
    width: 75%;
}

.endfloat {
    clear: both;
}

.mod-zh {
    margin: 20px;
    background-color: lightyellow;
    padding: 15px;
    border: 15px black solid;
}

body {
    margin: 0;
    background-color: #0B3861;
}
