/*
Namics Mitarbeiter
 */

@color-dark-blue: #0B3861;
@color-black: black;
@color-blue: #0080FF;
@color-light-blue: #A9F5F2;
@color-pink: #F781D8;
@color-light-pink: #F5A9BC;
@color-purple: #AC58FA;
@color-red: #ff0002;
@color-dark-red: darkred;
@color-light-gray: #F2F2F2;
@color-light-yellow: lightyellow;
@color-light-brown: peru;
@color-light-green: #BCF5A9;


/*
Stewie Griffin
 */

@color-skin: #FAD7BB;
@color-white: #FFFFFF;
@color-tongue: #F78CAA;

body {
    margin: 0;
    background-color: @color-white;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
@border-radius-size: 20px;
.mod-stewie {
  position: relative;
  height: 350px;
  width: 600px;
  background-color: @color-skin;
  border-radius: 50%;
  margin: 100px auto 0 auto;
  border: 3px @color-black solid;

  &:hover {
    .mod-stewie__eye__lid {
      height: 104px;
      width: 104px;
      border-radius: 50%;

      border-bottom: 0;

      transition: height 0.05s ease-in;
    }
  }

  &__eyes {
    height: 100%;

  }

  &__eye {
    position: absolute;
    height: 110px;
    width: 110px;
    top: 100px;

    &--left {
      left: 55px;
    }

    &--right {
      right: 100px;
      top: 105px;
    }

    &__white {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: 3px @color-black solid;
      background-color: @color-white;
    }

    &__pupil {
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: @color-black;
      position: absolute;
      top: 50px;
      left: 70px;
    }

    &__lid {
      position: absolute;
      height: 52px;
      width: 104px;
      border-radius: 90px 90px 0 0;
      background: @color-skin;
      border-bottom: 3px @color-black solid;
      left: 3px;
      top: 3px;
    }

    &__brow {
      position: absolute;
      height: 4px;
      width: 80px;
      background-color: @color-black;
      border-radius: 100%;
      top: -25px;

      &--left {
        left: 20px;
        top: -13px;
      }

      &--right {
        right: 20px;
        top: -17px;
      }

    }

  }

  &__ears {
    width: 100%;
    height: 100%;
    top: 0;
  }

  &__ear {
    position: absolute;
    top: 140px;

    &--left {
      left: -30px;
      height: 45px;
      width: 45px;
      background-color: @color-skin;
      border-radius: 50%;
      border: 3px @color-black solid;
    }

    &--left-two {
      top: 147px;
      height: 33px;
      width: 33px;
      border-radius: 50%;
      background-color: @color-skin;
    }

    &--left-three {
      width: 12px;
      height: 8px;
      border-radius: 90px 90px 0 0;
      background-color: transparent;
      border-top: 4px @color-black solid;
      transform: rotate(35deg);
      top: 156px;
      left: -12px;

    }

    &--right {
      right: -30px;
      height: 45px;
      width: 45px;
      background-color: @color-skin;
      border-radius: 50%;
      border: 3px @color-black solid;
    }

    &--right-two {
      right: 0;
      top: 147px;
      height: 33px;
      width: 33px;
      border-radius: 50%;
      background-color: @color-skin;
    }

    &--right-three {
      width: 16px;
      height: 8px;
      border-radius: 90px 90px 0 0;
      background-color: transparent;
      border-top: 4px @color-black solid;
      transform: rotate(-15deg);
      right: -15px;
      top: 156px;
    }
  }

    &__hairs {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
    }

    &__hair {
      position: absolute;
      height: 4px;
      background-color: @color-black;

      &--one {
        width: 10px;
        top: 100px;
        left: 24px;
        transform: rotate(75deg);
      }

      &--two {
        width: 20px;
        top: 62px;
        left: 70px;
        transform: rotate(80deg);
      }

      &--three {
        width: 30px;
        top: 33px;
        left: 130px;
        transform: rotate(110deg);
      }

      &--four {
        width: 30px;
        top: 17px;
        left: 195px;
        transform: rotate(115deg);
      }

      &--five {
        width: 30px;
        top: 10px;
        left: 264px;
        transform: rotate(120deg);
      }

      &--six {
        width: 33px;
        top: 13px;
        left: 332px;
        transform: rotate(130deg);
      }

      &--seven {
        width: 30px;
        top: 23px;
        left: 400px;
        transform: rotate(145deg);
      }

      &--eight {
        width: 25px;
        top: 48px;
        left: 477px;
        transform: rotate(160deg);
      }

      &--nine {
        width: 25px;
        top: 91px;
        left: 536px;
        transform: rotate(175deg);
      }

      &--eins {
        width: 15px;
        height: 8px;
        border-radius: 90px 90px 0 0;
        background-color: transparent;
        border-top: 4px @color-black solid;
        border-left: 4px @color-black solid;
        border-right: 4px @color-black solid;
        top: 86px;
        left: 22px;
        transform: rotate(-45deg);
      }

      &--zwei {
        width: 17px;
        height: 9px;
        border-radius: 90px 90px 0 0;
        background-color: transparent;
        border-top: 4px @color-black solid;
        border-left: 4px @color-black solid;
        border-right: 4px @color-black solid;
        top: 43px;
        left: 74px;
        transform: rotate(-30deg);
      }

      &--drei {
        width: 17px;
        height: 9px;
        border-radius: 90px 90px 0 0;
        background-color: transparent;
        border-top: 4px @color-black solid;
        border-left: 4px @color-black solid;
        border-right: 4px @color-black solid;
        top: 11px;
        left: 148px;
        transform: rotate(-18deg);
      }

      &--vier {
        width: 17px;
        height: 8px;
        border-radius: 90px 90px 0 0;
        background-color: transparent;
        border-top: 4px @color-black solid;
        border-left: 4px @color-black solid;
        border-right: 4px @color-black solid;
        top: -4px;
        left: 214px;
        transform: rotate(-18deg);
      }

      &--fuenf {
        width: 19px;
        height: 8px;
        border-radius: 90px 90px 0 0;
        background-color: transparent;
        border-top: 4px @color-black solid;
        border-left: 4px @color-black solid;
        border-right: 4px @color-black solid;
        top: -9px;
        left: 286px;
        transform: rotate(8deg);
      }

      &--sechs {
        width: 18px;
        height: 8px;
        border-radius: 90px 90px 0 0;
        background-color: transparent;
        border-top: 4px @color-black solid;
        border-left: 4px @color-black solid;
        border-right: 4px @color-black solid;
        top: -4px;
        left: 357px;
        transform: rotate(0deg);
      }

      &--sieben {
        width: 18px;
        height: 8px;
        border-radius: 90px 90px 0 0;
        background-color: transparent;
        border-top: 4px @color-black solid;
        border-left: 4px @color-black solid;
        border-right: 4px @color-black solid;
        top: 11px;
        left: 427px;
        transform: rotate(25deg);
      }

      &--acht {
        width: 18px;
        height: 7px;
        border-radius: 90px 90px 0 0;
        background-color: transparent;
        border-top: 4px @color-black solid;
        border-left: 4px @color-black solid;
        border-right: 4px @color-black solid;
        top: 43px;
        left: 501px;
        transform: rotate(34deg);
      }

      &--neun {
        width: 18px;
        height: 8px;
        border-radius: 90px 90px 0 0;
        background-color: transparent;
        border-top: 4px @color-black solid;
        border-left: 4px @color-black solid;
        border-right: 4px @color-black solid;
        top: 91px;
        left: 560px;
        transform: rotate(46deg);
      }
    }

    &__nose {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;

      &--first {
        height: 3px;
        width: 25px;
        background-color: @color-black;
        border-radius: 0 40% 40% 0;
        top: 199px;
        left: 235px;
        transform: rotate(46deg);
      }

      &--second {
        height: 3px;
        width: 40px;
        background-color: @color-black;
        border-radius: 40% 0 0 40%;
        top: 176px;
        left: 232px;
        transform: rotate(130deg);
      }
    }

    &__mouth {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;

      &--one {
        height: 3px;
        width: 18px;
        background-color: @color-black;
        border-radius: 40%;
        top: 231px;
        left: 235px;
        transform: rotate(140deg);
      }

      &--two {
        height: 3px;
        width: 35px;
        background-color: @color-black;
        border-radius: 40%;
        top: 237px;
        left: 237px;
      }

      &--three {
        height: 3px;
        width: 13px;
        background-color: @color-black;
        border-radius: 40%;
        top: 285px;
        left: 254px;
        transform: rotate(46deg);
      }

      &--four {
        height: 3px;
        width: 20px;
        background-color: @color-black;
        border-radius: 40%;
        top: 280px;
        left: 255px;
      }

      &--five {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 33px 33px 0 0;
        border-color: @color-black transparent transparent transparent;
        top: 226px;
        left: 303px;
        transform: rotate(-27deg);
      }

      &--six {
        width: 55px;
        height: 25px;
        border-radius: 90px 90px 0 0;
        background-color: @color-black;
        top: 252.5px;
        left: 268px;
        transform: rotate(140deg);
      }

      &--seven {
        height: 46px;
        width: 22px;
        top: 237px;
        left: 264px;
        background-color: @color-black;
      }

      &--eight {
        height: 7px;
        width: 24px;
        top: 236px;
        left: 281px;
        background-color: @color-black;
        transform: rotate(-20deg);
      }

      &--nine {
        height: 20px;
        width: 32px;
        top: 237px;
        left: 271px;
        background-color: @color-black;
      }

      &--ten {
        width: 15px;
        height: 4px;
        background-color: @color-tongue;
        border-radius: 100%;
        top: 272px;
        left: 288px;
        transform: rotate(-33deg);
      }
    }
  }


.mod-title {
  background-color: @color-light-yellow;
  border-radius: @border-radius-size;

  &__main {
    font-size: 80px;
    margin-bottom: 15px;
    color: @color-dark-red;
    text-align: center;
    margin-top: 25px;
  }


}
.mod-zh {
    margin: 0;
    background-color: @color-light-yellow;
    padding: 5px;
    border-radius: @border-radius-size;

    &__container {
        width: 33.3%;
        float: left;
        padding: 20px;
    }

    &__member-picture {
        width: 100px;
        border-radius: 50%;
        margin-left: 16px;
        border: 5px @color-light-gray solid;

        &:hover {
            border: 5px @color-light-brown solid;
        }
    }

    /*
    &__member-link {
        text-decoration: none;
    }
    */

    &__list {
        background-color: @color-light-green;
        margin-top: 0;
        margin-bottom: 25px;
        list-style: none;
        border-radius: @border-radius-size;

        &--mitte {
            background-color: @color-light-blue;
        }

        &--hinten {
            background-color: @color-light-pink;
        }
    }

    &__member {
        padding-left: 20px;
        padding-top: 20px;

        &:hover {
            background-color: @color-light-gray;
        }
    }

    &__member-name {
        color: @color-blue;
        font-size: 30px;
        margin: 15px 0 0 0;

        &--lady {
            color: @color-pink;
        }
    }

    &__member-description {
        color: @color-purple;
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;

        &--extra {
            color: @color-black;
            margin-top: 5px;
            font-weight: 300;
        }

        &--no-info {
            color: @color-red;
        }
    }

    &__member-caption {
        font-size: 13px;
        margin-bottom: 10px;
        text-align: center;
    }

    &__qname {
        text-align: center;
        font-size: 40px;
        margin-bottom: 8px;
        border-radius: @border-radius-size;

        &--vorne {
            background-color: @color-light-green;
        }

        &--mitte {
            background-color: @color-light-blue;
        }

        &--hinten {
            background-color: @color-light-pink;
        }
    }

    &__member__left {
        float: left;
        width: 35%;
    }

    &__member__right {
        float: right;
        width: 65%;
    }

    .endfloat {
        clear: both;
    }
}