/*
Namics Mitarbeiter
 */
body {
  margin: 0;
  background-color: #FFFFFF;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
@keyframes sound {
  0% {
    background: #FF0000;
  }
  20% {
    background: #F4FA58;
  }
  40% {
    background: #64FE2E;
  }
  60% {
    background: #58FAF4;
  }
  80% {
    background: #FE2EF7;
  }
  100% {
    background: #64FE2E;
  }
}
.mod-stewie {
  position: relative;
  height: 350px;
  width: 600px;
  background-color: #FAD7BB;
  border-radius: 50%;
  margin: 500px auto 0 auto;
  border: 3px black solid;
}
.mod-stewie:hover .mod-stewie__eye__lid {
  height: 104px;
  width: 104px;
  border-radius: 50%;
  border-bottom: 0;
  transition: height 0.05s ease-in;
}
.mod-stewie__eyes {
  height: 100%;
}
.mod-stewie__eye {
  position: absolute;
  height: 110px;
  width: 110px;
  top: 100px;
}
.mod-stewie__eye--left {
  left: 55px;
}
.mod-stewie__eye--right {
  right: 100px;
  top: 105px;
}
.mod-stewie__eye__white {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px black solid;
  background-color: #FFFFFF;
}
.mod-stewie__eye__pupil {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50px;
  left: 70px;
}
.mod-stewie__eye__lid {
  position: absolute;
  height: 52px;
  width: 104px;
  border-radius: 90px 90px 0 0;
  background: #FAD7BB;
  border-bottom: 3px black solid;
  left: 3px;
  top: 3px;
}
.mod-stewie__eye__brow {
  position: absolute;
  height: 4px;
  width: 80px;
  background-color: black;
  border-radius: 100%;
  top: -25px;
}
.mod-stewie__eye__brow--left {
  left: 20px;
  top: -13px;
}
.mod-stewie__eye__brow--right {
  right: 20px;
  top: -17px;
}
.mod-stewie__ears {
  width: 100%;
  height: 100%;
  top: 0;
}
.mod-stewie__ear {
  position: absolute;
  top: 140px;
}
.mod-stewie__ear--left {
  left: -30px;
  height: 45px;
  width: 45px;
  background-color: #FAD7BB;
  border-radius: 50%;
  border: 3px black solid;
}
.mod-stewie__ear--left-two {
  top: 147px;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background-color: #FAD7BB;
}
.mod-stewie__ear--left-three {
  width: 12px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  transform: rotate(35deg);
  top: 156px;
  left: -12px;
}
.mod-stewie__ear--right {
  right: -30px;
  height: 45px;
  width: 45px;
  background-color: #FAD7BB;
  border-radius: 50%;
  border: 3px black solid;
}
.mod-stewie__ear--right-two {
  right: 0;
  top: 147px;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background-color: #FAD7BB;
}
.mod-stewie__ear--right-three {
  width: 16px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  transform: rotate(-15deg);
  right: -15px;
  top: 156px;
}
.mod-stewie__hairs {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.mod-stewie__hair {
  position: absolute;
  height: 4px;
  background-color: black;
}
.mod-stewie__hair--one {
  width: 10px;
  top: 100px;
  left: 24px;
  transform: rotate(75deg);
}
.mod-stewie__hair--two {
  width: 20px;
  top: 62px;
  left: 70px;
  transform: rotate(80deg);
}
.mod-stewie__hair--three {
  width: 30px;
  top: 33px;
  left: 130px;
  transform: rotate(110deg);
}
.mod-stewie__hair--four {
  width: 30px;
  top: 17px;
  left: 195px;
  transform: rotate(115deg);
}
.mod-stewie__hair--five {
  width: 30px;
  top: 10px;
  left: 264px;
  transform: rotate(120deg);
}
.mod-stewie__hair--six {
  width: 33px;
  top: 13px;
  left: 332px;
  transform: rotate(130deg);
}
.mod-stewie__hair--seven {
  width: 30px;
  top: 23px;
  left: 400px;
  transform: rotate(145deg);
}
.mod-stewie__hair--eight {
  width: 25px;
  top: 48px;
  left: 477px;
  transform: rotate(160deg);
}
.mod-stewie__hair--nine {
  width: 25px;
  top: 91px;
  left: 536px;
  transform: rotate(175deg);
}
.mod-stewie__hair--eins {
  width: 15px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: 86px;
  left: 22px;
  transform: rotate(-45deg);
}
.mod-stewie__hair--zwei {
  width: 17px;
  height: 9px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: 43px;
  left: 74px;
  transform: rotate(-30deg);
}
.mod-stewie__hair--drei {
  width: 17px;
  height: 9px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: 11px;
  left: 148px;
  transform: rotate(-18deg);
}
.mod-stewie__hair--vier {
  width: 17px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: -4px;
  left: 214px;
  transform: rotate(-18deg);
}
.mod-stewie__hair--fuenf {
  width: 19px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: -9px;
  left: 286px;
  transform: rotate(8deg);
}
.mod-stewie__hair--sechs {
  width: 18px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: -4px;
  left: 357px;
  transform: rotate(0deg);
}
.mod-stewie__hair--sieben {
  width: 18px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: 11px;
  left: 427px;
  transform: rotate(25deg);
}
.mod-stewie__hair--acht {
  width: 18px;
  height: 7px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: 43px;
  left: 501px;
  transform: rotate(34deg);
}
.mod-stewie__hair--neun {
  width: 18px;
  height: 8px;
  border-radius: 90px 90px 0 0;
  background-color: transparent;
  border-top: 4px black solid;
  border-left: 4px black solid;
  border-right: 4px black solid;
  top: 91px;
  left: 560px;
  transform: rotate(46deg);
}
.mod-stewie__nose__item {
  position: absolute;
}
.mod-stewie__nose__item--first {
  height: 3px;
  width: 25px;
  background-color: black;
  border-radius: 0 40% 40% 0;
  top: 184px;
  left: 265px;
  transform: rotate(46deg);
}
.mod-stewie__nose__item--second {
  height: 3px;
  width: 40px;
  background-color: black;
  border-radius: 40% 0 0 40%;
  top: 161px;
  left: 262px;
  transform: rotate(130deg);
}
.mod-stewie__mouth__item {
  position: absolute;
}
.mod-stewie__mouth__item--one {
  height: 3px;
  width: 18px;
  background-color: black;
  border-radius: 40%;
  top: 231px;
  left: 235px;
  transform: rotate(140deg);
}
.mod-stewie__mouth__item--two {
  height: 3px;
  width: 35px;
  background-color: black;
  border-radius: 40%;
  top: 237px;
  left: 237px;
}
.mod-stewie__mouth__item--three {
  height: 3px;
  width: 13px;
  background-color: black;
  border-radius: 40%;
  top: 285px;
  left: 254px;
  transform: rotate(46deg);
}
.mod-stewie__mouth__item--four {
  height: 3px;
  width: 20px;
  background-color: black;
  border-radius: 40%;
  top: 280px;
  left: 255px;
}
.mod-stewie__mouth__item--five {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 33px 33px 0 0;
  border-color: black transparent transparent transparent;
  top: 226px;
  left: 303px;
  transform: rotate(-27deg);
}
.mod-stewie__mouth__item--six {
  width: 55px;
  height: 25px;
  border-radius: 90px 90px 0 0;
  background-color: black;
  top: 252.5px;
  left: 268px;
  transform: rotate(140deg);
}
.mod-stewie__mouth__item--seven {
  height: 46px;
  width: 22px;
  top: 237px;
  left: 264px;
  background-color: black;
}
.mod-stewie__mouth__item--eight {
  height: 7px;
  width: 24px;
  top: 236px;
  left: 281px;
  background-color: black;
  transform: rotate(-20deg);
}
.mod-stewie__mouth__item--nine {
  height: 20px;
  width: 32px;
  top: 237px;
  left: 271px;
  background-color: black;
}
.mod-stewie__mouth__item--ten {
  width: 15px;
  height: 4px;
  background-color: #F78CAA;
  border-radius: 100%;
  top: 272px;
  left: 288px;
  transform: rotate(-33deg);
}
.mod-stewie__image--hat {
  display: none;
  position: absolute;
  height: 200px;
  width: 700px;
  top: -100px;
  left: -54px;
}
.mod-stewie html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #FFAA78;
}
.mod-stewie *,
.mod-stewie *:before,
.mod-stewie *:after {
  box-sizing: border-box;
}
.mod-stewie__glasses {
  display: none;
  position: absolute;
  width: 500px;
  height: 120px;
  top: 97px;
  left: 37px;
}
.mod-stewie__glasses:hover .glass {
  background-image: linear-gradient(to bottom, #ff7660, #ff427d 70%);
}
.mod-stewie__glasses .g-top {
  position: absolute;
  height: 15px;
  width: 500px;
  background-color: #3C3C3C;
  top: 5px;
  left: -5px;
  border-radius: 5px;
}
.mod-stewie__glasses .glass {
  position: absolute;
  height: 120px;
  width: 220px;
  background-image: linear-gradient(to bottom, #4DE2DC, #3888D1 70%);
  border: 10px solid #3C3C3C;
  top: 0;
  animation-name: sound;
  animation-duration: 0.1s;
  animation-iteration-count: 50;
}
.mod-stewie__glasses .g-left {
  left: 0;
  transform: rotate(2deg);
  border-radius: 12px 12px 33px 29px;
}
.mod-stewie__glasses .g-right {
  left: 270px;
  transform: rotate(-2deg);
  border-radius: 12px 12px 29px 33px;
}
.mod-stewie__headphones {
  display: none;
}
.mod-stewie__headphone__buegel {
  position: absolute;
}
.mod-stewie__headphone__buegel--round {
  width: 760px;
  height: 350px;
  border-top-left-radius: 420px;
  border-top-right-radius: 420px;
  border: 20px solid #0B3861;
  border-bottom: 0;
  top: -220px;
  left: -83px;
}
.mod-stewie__headphone__buegel--one {
  width: 20px;
  height: 100px;
  background: #0B3861;
  top: 130px;
  left: -83px;
}
.mod-stewie__headphone__buegel--two {
  width: 20px;
  height: 100px;
  background: #0B3861;
  top: 130px;
  right: -83px;
}
.mod-stewie__headphone__polster {
  position: absolute;
}
.mod-stewie__headphone__polster--links {
  height: 200px;
  width: 60px;
  background-color: #A9F5F2;
  border-radius: 30px;
  left: -60px;
  transform: rotate(0.5deg);
  top: 64px;
  animation-name: sound;
  animation-duration: 0.1s;
  animation-iteration-count: 50;
}
.mod-stewie__headphone__polster--rechts {
  height: 200px;
  width: 60px;
  background: #A9F5F2;
  border-radius: 30px;
  top: 64px;
  right: -60px;
  transform: rotate(-0.5deg);
  animation-name: sound;
  animation-duration: 0.1s;
  animation-iteration-count: 50;
}
.state-mod-stewie--with-hat .mod-stewie__image--hat {
  display: block;
}
.state-mod-stewie--with-glasses .mod-stewie__glasses {
  display: block;
}
.state-mod-stewie--with-headphones .mod-stewie__headphones {
  display: block;
}
.state-mod-stewie--with-mustache .mod-stewie__mustache__item {
  position: absolute;
  width: 85px;
}
.state-mod-stewie--with-mustache .mod-stewie__mustache__item--one {
  height: 20px;
  background-color: black;
  border-radius: 40%;
  top: 198px;
  left: 198px;
}
.state-mod-stewie--with-mustache .mod-stewie__mustache__item--two {
  height: 20px;
  background-color: black;
  border-radius: 40%;
  top: 198px;
  left: 281px;
}
.state-mod-stewie--with-mustache .mod-stewie__mustache__item--three {
  transform: rotate(105deg);
  height: 17px;
  background-color: black;
  border-radius: 50% 100% 100% 0;
  top: 240px;
  left: 152px;
}
.state-mod-stewie--with-mustache .mod-stewie__mustache__item--four {
  transform: rotate(75deg);
  height: 17px;
  background-color: black;
  border-radius: 0 100% 100% 0;
  top: 240px;
  right: 182px;
}
.state-mod-stewie--drunk:hover .mod-stewie__eye__lid {
  display: none;
}
.state-mod-stewie--drunk .mod-stewie__eyes {
  height: 100%;
}
.state-mod-stewie--drunk .mod-stewie__eye {
  position: absolute;
  height: 110px;
  width: 110px;
  top: 100px;
}
.state-mod-stewie--drunk .mod-stewie__eye--left {
  left: 55px;
}
.state-mod-stewie--drunk .mod-stewie__eye--right {
  right: 100px;
  top: 105px;
}
.state-mod-stewie--drunk .mod-stewie__eye__white {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px black solid;
  background-color: #FFFFFF;
}
.state-mod-stewie--drunk .mod-stewie__eye__pupil {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 46px;
  left: 28px;
}
.state-mod-stewie--drunk .mod-stewie__eye__lid {
  position: absolute;
  height: 26px;
  width: 93px;
  border-radius: 90px 90px 0 0;
  background: #FAD7BB;
  border-bottom: 3px black solid;
  left: 8px;
  top: 3px;
}
.state-mod-stewie--drunk .mod-stewie__eye__lid--left {
  position: absolute;
  height: 38px;
  width: 100px;
  border-radius: 90px 90px 0 0;
  background: #FAD7BB;
  border-bottom: 3px black solid;
  left: 5px;
  top: 3px;
}
.state-mod-stewie--drunk .mod-stewie__eye__lid--right-bottom {
  position: absolute;
  height: 38px;
  width: 96px;
  border-radius: 90px 90px 0 0;
  background: #FAD7BB;
  border-bottom: 3px black solid;
  left: 8px;
  top: 76px;
  transform: rotate(180deg);
}
.state-mod-stewie--drunk .mod-stewie__eye__brow {
  position: absolute;
  height: 4px;
  width: 80px;
  background-color: black;
  border-radius: 100%;
  top: -25px;
}
.state-mod-stewie--drunk .mod-stewie__eye__brow--left {
  left: 20px;
  top: -13px;
}
.state-mod-stewie--drunk .mod-stewie__eye__brow--right {
  right: 20px;
  top: -17px;
}
.state-mod-stewie--drunk .mod-stewie__eye--border-left {
  position: absolute;
  height: 110px;
  width: 110px;
  top: 100px;
  left: 55px;
  border-radius: 50%;
  border: 3px black solid;
}
.state-mod-stewie--drunk .mod-stewie__eye--border-right {
  right: 100px;
  top: 105px;
  position: absolute;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 3px black solid;
}
.mod-title {
  background-color: lightyellow;
  border-radius: 20px;
}
.mod-title__main {
  font-size: 80px;
  margin-bottom: 15px;
  color: darkred;
  text-align: center;
  margin-top: 25px;
}
.mod-zh {
  margin: 0;
  background-color: lightyellow;
  padding: 5px;
  border-radius: 20px;
  /*
    &__member-link {
        text-decoration: none;
    }
    */
}
.mod-zh__container {
  width: 33.3%;
  float: left;
  padding: 20px;
}
.mod-zh__member-picture {
  width: 100px;
  border-radius: 50%;
  margin-left: 16px;
  border: 5px #F2F2F2 solid;
}
.mod-zh__member-picture:hover {
  border: 5px peru solid;
}
.mod-zh__list {
  background-color: #BCF5A9;
  margin-top: 0;
  margin-bottom: 25px;
  list-style: none;
  border-radius: 20px;
}
.mod-zh__list--mitte {
  background-color: #A9F5F2;
}
.mod-zh__list--hinten {
  background-color: #F5A9BC;
}
.mod-zh__member {
  padding-left: 20px;
  padding-top: 20px;
}
.mod-zh__member:hover {
  background-color: #F2F2F2;
}
.mod-zh__member-name {
  color: #0080FF;
  font-size: 30px;
  margin: 15px 0 0 0;
}
.mod-zh__member-name--lady {
  color: #F781D8;
}
.mod-zh__member-description {
  color: #AC58FA;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}
.mod-zh__member-description--extra {
  color: black;
  margin-top: 5px;
  font-weight: 300;
}
.mod-zh__member-description--no-info {
  color: #ff0002;
}
.mod-zh__member-caption {
  font-size: 13px;
  margin-bottom: 10px;
  text-align: center;
}
.mod-zh__qname {
  text-align: center;
  font-size: 40px;
  margin-bottom: 8px;
  border-radius: 20px;
}
.mod-zh__qname--vorne {
  background-color: #BCF5A9;
}
.mod-zh__qname--mitte {
  background-color: #A9F5F2;
}
.mod-zh__qname--hinten {
  background-color: #F5A9BC;
}
.mod-zh__member__left {
  float: left;
  width: 35%;
}
.mod-zh__member__right {
  float: right;
  width: 65%;
}
.mod-zh .endfloat {
  clear: both;
}
